/bash/bash-4.1
/bzip2/bzip2-1.0.6
/bzip2/bzip2-1.0.6-64
/curl/curl-7.21.2
/gcc/gcc-3.4.3
/gcc/gcc-3.4.3-i386-build
/gnupg/gnupg-1.4.11
/gtar/tar-1.23
/gzip/gzip-1.3.5
/less/less-436
/libexpat/expat-2.0.1
/libexpat/expat-2.0.1-64
/libidn/libidn-1.11
/libm/destdir
/libm/statdir
/libm/usr/src/libm/wos/f80387
/libm/usr/src/libm/wos/libmvec
/libm/usr/src/libm/wos64/amd64
/libxml/libxml2-2.7.6
/libxml/libxml2-2.7.6-64
/libz/zlib-1.2.3
/libz/zlib-1.2.3-64
/ncurses/ncurses-5.7
/ncurses/ncurses-5.7-64
/node.js/node-v0.6.9
/nss-nspr/nss-3.12.8
/nss-nspr/nss-3.12.8-64
/ntp/ntp-dev-4.2.5p200
/openssl/openssl-0.9.8o
/openssl/openssl-0.9.8o-64
/perl/perl-5.12.3
/proto
/rsync/rsync-3.0.6
/screen/screen-4.0.3
/uuid/uuid-1.6.2
/vim/vim72
/wget/wget-1.12
