/bash/bash-4.3.30-32
/bind/bind-9.8.0-32
/binutils/binutils-2.25.1-32*
/bzip2/bzip2-1.0.6*
/bzip2/bzgrep.tmp
/coreutils/coreutils-8.13-32
/cpp/cpp
/cpp/cppstrap
/cpp/cpp.o*
/cpp/y.tab.c
/cpp/y.tab.o*
/curl/curl-7.27.0-32
/dialog/dialog-1.1-20111020-32
/g11n/proto/
/g11n/src/lib/iconv/common/amd64/
/g11n/src/lib/iconv/common/*.o
/g11n/src/lib/iconv/common/*.so
/g11n/src/lib/iconv/euro/amd64/
/g11n/src/lib/iconv/euro/*.o
/g11n/src/lib/iconv/euro/*.so
/g11n/src/lib/iconv/euro/tbl.h
/g11n/src/lib/iconv/utf-8/amd64/
/g11n/src/lib/iconv/utf-8/*.bt
/g11n/src/lib/iconv/utf-8/*.o
/g11n/src/lib/iconv/utf-8/*.so
/gcc4/gcc-4.4.4-32*
/gcc7/gcc-7.3.0-*
/gnupg/gnupg-1.4.11-32
/gtar/tar-1.23-32
/gzip/gzip-1.3.5-32
/ipmitool/ipmitool-1.8.14-32
/less/less-436-32
/libexpat/expat-2.0.1-32*
/libexpat/expat-2.0.1-64*
/libidn/libidn-1.11-32*
/libxml/libxml2-2.7.6-32*
/libxml/libxml2-2.7.6-64*
/libz/zlib-1.2.3-32*
/libz/zlib-1.2.3-64*
/make/.unpack32
/make/usr-32*
/ncurses/ncurses-5.7-32
/ncurses/ncurses-5.7-64
/node.js/genversionjs
/node.js/wrapper
/node.js/node-v0.10.26-32*
/nss-nspr/nss-3.12.8-32*
/nss-nspr/nss-3.12.8-64*
/ntp/ntp-4.2.8p?-32
/openldap/openldap-2.4.26-32
/openlldp/openlldp-0.4alpha-32
/openssl/openssl-0.9.8??
/openssl/openssl-0.9.8??-64
/openssl1x/openssl-1.0.1h-32*
/openssl1x/openssl-1.0.1h-64*
/pbzip2/pbzip2-1.1.6-32
/perl/perl-5.12.3-32*
/perl/Config_heavy.pl
/perl/Config_heavy.plstrap
/proto
/rsync/rsync-3.0.6-32
/rsyslog/rsyslog-5.8.9-32
/screen/screen-4.0.3-32
/socat/socat-1.7.1.3-32
/tun/tun-1.3-64
/uuid/uuid-1.6.2-32
/vim/vim73-32
/wget/wget-1.*-32
/illumos-extra-*.tgz
/*/ctfobjects-32
/*/ctfobjects-64
.*.swp
