/proto
/bash/bash-4.1
/bzip2/bzip2-1.0.6-64
/bzip2/bzip2-1.0.6
/curl/curl-7.21.2
/gzip/gzip-1.3.5
/libexpat/expat-2.0.1-64
/libexpat/expat-2.0.1
/libm/destdir
/libm/statdir
/libm/usr/src/libm/wos/f80387
/libm/usr/src/libm/wos/libmvec
/libm/usr/src/libm/wos64/amd64
/libxml/libxml2-2.7.6-64
/libxml/libxml2-2.7.6
/libz/zlib-1.2.3-64
/libz/zlib-1.2.3
/ncurses/ncurses-5.7-64
/ncurses/ncurses-5.7
/node.js/node-v0.2.4
/nss-nspr/nss-3.12.8-64
/nss-nspr/nss-3.12.8
/openssl/openssl-0.9.8o-64
/openssl/openssl-0.9.8o
/rsync/rsync-3.0.6
/vim/vim72
